DATABASE_URL=
PINECONE_API_KEY=
BACKEND_GRAPHQL_URL=
COHERE_API_KEY=
MODE=development

# high token limit, but not good response
SHIVAAY_API_KEY=

# better response, use with rotation, sepearte keys with ,
GROQ_API_KEYS=